
<div class="container-fluid">
	<div class="row">
		<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>

		<!-- Modal -->
		
		<div class="col-md-12">

			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Serial Number</th>
						<th>Project Name</th>
						<th>Desciprtion</th>
						<th>Coordinators</th>
						<th>Select</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="project in projectlist">
						<td>{{project.id}}</td>
						<td>{{project.description}}</td>
						<td>{{project.name}}</td>
						<td><span ng-repeat="coordinator in project.coordinators">
								{{coordinator}} <span ng-show="!$last">, </span>
						</span></td>
						<td><div class="radio">
								<label> <a href="#/view1/{{project.id}}"> <input
										type="radio" name="optionsRadios"></a>
								</label>
							</div></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>
