<div class="col-sm-1-12 task-item" ng-repeat="task in tasks|bycontributor:selectedContributor|byPriority:priorityFilters">
    <div class="col-sm-1">
      <span ng-class="{task.isComplete: 'glyphicon glyphicon-star', task.isClosed: 'glyphicon glyphicon-close'}"></span>
      <small>Pending</small>
    </div>
    <div class="col-sm-11">
        <div class="col-sm-8">
          <a href="#">
            <span ng-bind="task.task"></span>
          </a>
          <p class="task-description" ng-bind="task.description">
          </p>
        </div>
        <div class="col-sm-4">
            <ul class="nav nav-pills task-actions">
              <li><a href="#edit">Edit</a></li>
              <li><a ng-click="markComplete(task)">Complete</a></li>
              <li><a ng-click="closeTask(task)">Close</a></li>
            </ul>
            <ul style="list-style:none; padding:13px">
              <li>
                <strong>Assign To:</strong>
                &nbsp;
                <span ng-bind="getContributorName(task.assignedTo)"></span>
              </li>
              <li>
                <strong>Created At:</strong>
                &nbsp;
                <span ng-bind="task.createdAt"></span>
              </li>
              <li>
                <strong>Due Date:</strong>
                &nbsp;
                <span ng-bind="task.dueDate"></span>
              </li>
            </ul>
        </div>
    </div>
</div>
